.container {
  /*width: 710px;*/
}
* {
margin: 0px;
padding: 0px;
border-width: 0px;
}

html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 50%;
  width: 100%;
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
}
#fullbi{
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  min-height: 100%;
  color: #333;
}



header {
  position: fixed;
  margin: 0 auto;
  margin-top: -40px;
  height : 60px;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}


header img {
  padding: 0em;
  background: #330000;
}

section {
  position: relative;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  font-size: 120%;
  padding: 20px;
  background-color: rgba(0,0,0,0.7);
  color: white;
}

footer{
  position:fixed;
  bottom:0;
  width:100%;
  height : 40px;
  background-color: #000000;
  opacity:0.7;
}



section h1 {
  font-size: 200%;
  font-family:"Arial";  
}

section #market{
  font-size: 80%;
  font-family:"Arial";  
}

section #order{
  position: relative;
  display: inline-block;
  margin-right: 50px;
  vertical-align:top;
}

section #summary{
  position: relative;
  display: inline-block;
  margin-right: 50px;
  width: 400px;
}

section #trades{
  position: relative;
  display: inline-block;
  color: #a0a0a0;
  vertical-align:top;
}

section #book{
  color: #a0a0a0;
}
section #datatrader{
  font-weight: bold;
}
section #desc{
  color: #a0a0a0;
}
section #currentbuyorders{
  position: relative;
  display: inline-block;
  color: #a0a0a0;
  vertical-align:top;
}
section #currentsellorders{
  position: relative;
  display: inline-block;
  margin-left: 20px;
  color: #a0a0a0;
  vertical-align:top;
}
/* Liens */

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #3399CC;
}

.fieldWrapper {
padding-left: 50px;
}

.formField{
height:25px;
width:200px;
}

.signinField{
height:20px;
width:120px;
}

::-webkit-input-placeholder { font-style:italic; }

/* Navigation */

header h1{
color:rgba(255,255,255, 0.7);
}

header nav {
  position: absolute;
bottom: 0px;
right: 0px;
  white-space: nowrap;
  font-size: 10px;
  font-family: Georgia;
  color:rgba(255,255,255, 0.7);;
}

footer nav {
position: absolute;
bottom: 0px;
right: 0px;
  background-color: #000000;
  white-space: nowrap;
  font-size: 12px;
  font-family: Georgia;
  color: white;
}

nav {
  float: right;
  margin-top: 15px;
}



nav ul {
position:relative;
bottom:5px;
  margin: -10;
  margin-right:10;
  padding: 0;
}

header nav ul {
position:relative;
bottom:5px;
  margin-right:120px;
  margin-bottom: -40px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1em;
  margin: -20px;
}

footer nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1em;
  margin: 10px;
}

nav ul li a {
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: none;
  color: #3399CC;
}


/* Bouton inscription */

input.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 100px;
  height: 30px;
  color: white;
  background: #3399CC;
  font-size: 90%;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 20px;
}

input.signup_button2 {
position: relative;
	float: right;
	margin-bottom: 20px;
	margin-right: 400px;
  text-align: center;
  width: 50px;
  height: 25px;
  color: white;
  background: #3399CC;
  font-size: 60%;
  font-weight: bold;
}

input.signin_button {
position: relative;
	float: right;
	margin-bottom: 20px;
	margin-right: 40px;
  text-align: center;
  width: 50px;
  height: 25px;
  color: white;
  background: #3399CC;
  font-size: 90%;
  font-weight: bold;
}





