.container {
  /*width: 710px;*/
}
* {
margin: 0px;
padding: 0px;
border-width: 0px;
}

html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 50%;
  width: 100%;
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
}
#fullbi{
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  min-height: 100%;
  color: #333;
}



header {
  position: relative;
  margin: 0 auto;
  margin-top: -40px;
  height : 60px;
  width: 100%;
  background-color:  rgba(245,245,245,1);
}


header img {
  padding: 0em;
  /* background: #330000; */
}

section {
  position: relative;
  margin-left: 0;
  margin-top: 1;
  margin-right: 0;
  font-size: 120%;
  padding: 20px;
  background-color: white;
  color: black;
}

footer{
  position:relative;
  width:100%;
  height : 40px;
  background-color: rgba(245,245,245,1);
}



section h1 {
  font-size: 200%;
  font-family:"Arial";  
}

section #market{
  font-size: 80%;
  font-family:"Arial";  
}

section #order{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  vertical-align:top;
  background-color: rgba(245,245,245,1);
  padding: 20;
}
section #deposit{
  position: relative;
  display: inline-block;
  background-color: rgba(245,245,245,1);
  margin-right: 50px;
  width: 400px;
  padding: 20;
}
section #signup{
  position: relative;
  display: inline-block;
  background-color: rgba(245,245,245,1);
  margin-right: 50px;
  width: 400px;
  padding: 20;
}
section #summary{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 500px;
  background-color: rgba(245,245,245,1);
  padding: 20;
}
section #trades{
  position: relative;
  display: inline-block;
  color: black;
  vertical-align:top;
  background-color: rgba(245,245,245,1);
  padding: 20;
}

section #book{
  color: black;
  background-color: rgba(245,245,245,1);
  padding: 20;
}
section #datatrader{
  font-weight: bold;
}
section #desc{
  color: black;
}
section #currentbuyorders{
  position: relative;
  display: inline-block;
  color: black;
  vertical-align:top;
}
section #sell{
  position: relative;
  display: inline-block;
  vertical-align:top;
}
section #buy{
  position: relative;
  display: inline-block;
  vertical-align:top;
}
section #descrMarket{
  position: relative;
  display: inline-block;
  vertical-align:top;
  text-align: center;
}
section #descrEvent{
  color: black;
  background-color: rgba(245,245,245,1);
  padding: 20;
}
section #eventsGE{
  color: black;
  background-color: rgba(245,245,245,1);
  padding: 20;
}
section #graphsEvent{
  color: black;
  background-color: rgba(245,245,245,1);
  padding: 20;
}
section #bestMarkets{
  position: relative;
  display: inline-block;
  vertical-align:top;
  text-align: center;
  background-color: rgba(245,245,245,1);
  padding: 20;
}
section #currentsellorders{
  position: relative;
  display: inline-block;
  margin-left: 20px;
  color: black;
  vertical-align:top;
}
section #placeholder{
  position: relative;
  display: inline-block;
  vertical-align:top;
}
section .formBuy{
  position: relative;
  display: inline-block;
  vertical-align:top;
}
section .formSell{
  position: relative;
  display: inline-block;
  vertical-align:top;
}

section #divHead{
background-color: rgb(200,200,200);
margin-top: -20;
margin-left: -20;
margin-right: -20;
margin-bottom: 5;
}

section #price{
  position: relative;
  display: inline-block;
  font-size: 300%;
  margin-left: 60px;
  margin-top: 60px;
  color: black;
}
/* Liens */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #3399CC;
}

.fieldWrapper {
padding-left: 50px;
}

.formField{
height:25px;
width:200px;
}

.signinField{
height:20px;
width:120px;
}

::-webkit-input-placeholder { font-style:italic; }

/* Navigation */


#corp {
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  left:0;
  margin-top: 20;
color:black;
}

#logs{
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  margin-left:1100px;
  margin-top: 40px;
  bottom: 0px;
}

#menu {
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  margin-left:300px;
  margin-top: 40px;
  white-space: nowrap;
  font-size: 12px;
  font-family: Georgia;
  color: black;
}


#menu ul {
position:relative;
bottom:5px;
  margin: -10;
  margin-right:120px;
  margin-bottom: 0px;
  padding: 0;
}

#menu ul li {
  list-style-type: none;
  position: relative;
  display: inline-block;
  padding: 0.1em;
  margin: 10px;
}

#menu ul li a {
  color: black;
  font-weight: bold;
}

#menu ul li a:hover {
  text-decoration: none;
  color: #3399CC;
}

#signin{
  position: relative;
  display: inline-block;
  margin-top: -40;
  margin-right: 50;
  white-space: nowrap;
  font-size: 10px;
  font-family: Georgia;
  color:black;
}
#signin ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1em;
  margin: 0px;
}
header #signup{
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -35px;
}

/* Boutons */

input.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 100px;
  height: 30px;
  color: white;
  background: #3399CC;
  font-size: 90%;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 20px;
}

input.signup_button2 {
position: relative;
  text-align: center;
  width: 50px;
  height: 25px;
  color: white;
  background: #3399CC;
  font-size: 60%;
  font-weight: bold;
}

.signin_button {
  text-align: center;
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -20;
  width: 50px;
  height: 25px;
  color: white;
  background: #3399CC;
  font-size: 90%;
  font-weight: bold;
}

input.signup_button:hover{
  color: black;
}
input.signup_button2:hover{
  color: black;
}
.signin_button:hover{
  color: black;
}

section th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;
	color: black;
    font-size: 90%;
	letter-spacing: 2px;
	text-align: center;
	padding: 1px 12px 1px 12px;
	background-color: rgb(180,180,180);
}
section tr {
  font-size:80%;
	text-align: center;
	background-color: rgb(200,200,200);
	padding: 1px 12px 1px 12px;
	color: black;
}
section tr:hover { 
	background-color: white; 
}


