{% extends "markets/base.html" %}

{% block content %}
<table class="gEvents" summary="All Global Events">
  <tr>
      <h1>
        All Events
      </h1>
	
    <ul class="users">
  {% for gEvent in minis %}
    <li>
      <a href="{% url 'globalEvent' gEvent.id %}"> {{ gEvent.title }}</a>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
       {% if minis.has_previous %}
           <a href="{% url 'allGlobalEventsList' minis.previous_page_number %}">Précédente</a> -
       {% endif %}
 
       <span class="current">
           Page {{ minis.number }} sur {{ minis.paginator.num_pages }}
       </span>
 
       {% if minis.has_next %}
           - <a href="{% url 'allGlobalEventsList' minis.next_page_number %}">Suivante</a>
       {% endif %}
    </span>
</div>

  </tr>
</table>
{% endblock %}
  
