<meta charset="UTF-8">
<footer>
  <nav class="round">
    <ul>
	{% if request.user.is_superuser %}
      <li><a href="{% url 'markets.views.createCodes' %}" >Create Codes</a></li>
	{% endif %}
      <li><a href="{% url 'markets.views.home' %}" >Home</a></li>
      <li><a href="{% url 'markets.views.allTraders' %}" >Traders</a></li>
	{% if request.user.is_authenticated %}
      <li><a href="{% url 'markets.views.createGlobalEvent' %}" >Create Global Event</a></li>
	{% endif %}
      <li><a href="{% url 'markets.views.allGlobalEvents' %}" >Global Events</a></li>
      <li><a href="{% url 'markets.views.about' %}" >About Us</a></li>
      <li><a href="{% url 'markets.views.contact' %}" >Contact</a></li>
      <li><a href="http://www.bloomberg.com/">News</a></li>
    </ul>
  </nav>
</footer>