{% load static %}
<header>

<div id="corp">
<h1>BD&T Corp</h1>
</div>

<!-- <nav class="round"> -->

<div id="menu">
    <ul>
	{% if request.user.is_superuser %}
      <li><a href="{% url 'markets.views.createCodes' %}" >Create Codes</a></li>
	{% endif %}
      <li><a href="{% url 'markets.views.home' %}" >Home</a></li>
      <li><a href="{% url 'markets.views.allTraders' %}" >Traders</a></li>
	{% if request.user.is_authenticated %}
      <li><a href="{% url 'markets.views.createGlobalEvent' %}" >Create Global Event</a></li>
	{% endif %}
      <li><a href="{% url 'markets.views.allGlobalEvents' %}" >Global Events</a></li>
      <li><a href="{% url 'markets.views.about' %}" >About Us</a></li>
      <li><a href="{% url 'markets.views.contact' %}" >Contact</a></li>
      <li><a href="http://www.bloomberg.com/">News</a></li>
    </ul>
  </div>

<div id="logs">
{% if request.user.is_authenticated %}
<a class="signin_button" href=" {% url 'markets.views.signout' %}" >Logout</a>
 
 {% else%}
<div id="signin">
  <form action="{% url 'markets.views.signin' %}" method="post">{% csrf_token %}
    {{ form2.non_field_errors }}
    
 <ul>
	<li class="fieldWrapper"> {{ form2.username.errors }}{{ form2.username }}</br>Keep me logged in &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </li>
    <li class="fieldWrapper">{{ form2.password.errors }} {{ form2.password }}</br> Forgotten your password?</li>
    <li><input class="signin_button" type="submit" value="Log in" /> </li>
</ul>
</form>
</div>
<div id="signup">
 <form action="{% url 'markets.views.signup' %}" method="get">{% csrf_token %}
  <input class="signup_button2" type="submit" value="Register" /> 
</form> 
</div>
 <!--  </nav>  -->
{% endif%} 
</div>
 
</header>