{% extends "markets/base.html" %}

{% block content %}
    <h1>Home</h1>

  <p>
	{% if request.user.is_authenticated %}
	<div id="deposit">
	<div id="divHead">
		Transfers :
	  </div>
	<form action="{% url 'markets.views.home' %}" method="post">{% csrf_token %}
    {{ trform.non_field_errors }}
    <div class="fieldWrapper">
        {{ trform.type.errors }}</br>
        {{ trform.type }}
    </div>
    <div class="fieldWrapper">
        {{ trform.volume.errors }}</br>
        {{ trform.volume }}
    </div></br>
    <p><input class="signup_button round" type="submit" value="Submit" /> </p>
</form>
</div>
{% endif %}	
<div id="bestMarkets"> 
	  <div id="divHead">
		Most active markets :
	  </div>
</br></br>
<div id="descrMarket">
<a href="{% url 'markets.views.showMarket' id0 %}" >{{n0}}</a>
<div id="0" style="width:300px;height:200px"></div>
</div>
<div id="descrMarket">
<a href="{% url 'markets.views.showMarket' id1 %}" >{{n1}}</a>
<div id="1" style="width:300px;height:200px"></div>
</div>
<div id="descrMarket">
<a href="{% url 'markets.views.showMarket' id2 %}" >{{n2}}</a>
<div id="2" style="width:300px;height:200px"></div>
</div>
</div>

  </p>
  
  <script type="text/javascript">
$(document).ready(function(){  
  var data = {{perfData}};
 for(var i=0;i<3;i++){
    var options = {
        series: {
                   lines: { show: true },
                   points: { show: true }
               }
    };
 
    $.plot($("#" + data[i][0]),
                [
                    {
                    data:data[i][1],points:{symbol: "circle"}
                    }
                ],
                options);
	}	
});
</script>
  
{% endblock %}
  
