{% extends "markets/base.html" %}

{% block content %}

<script type="text/javascript">

  var timerId = 0;
  $(document).ready(function() {
	var mid={{market.id}}
      $.get("/market/" + mid + "/a/", function(data) {
		timerId = setTimeout(rt, 5000);	 
      });
    $('.refresh').bind('click', function () {
		clearInterval(timerId);
		rt.call();	 
	});		
   });
var rt = function refr() {
var urlmarket="/market/" + {{market.id}} + "/a/"
  $.get(urlmarket, function(data) {
	$('#time')[0].innerHTML= data.time ;
	if(data.mwin!=''){
		$('#win')[0].innerHTML= data.mwin ;
	}
	if(data.deposit!=''){
		var dataTrader='<tbody><tr><th>Deposit</th><th>Available</th><th>PNL min</th></tr>'+ '<tr><td>' + data.deposit + ' </td><td> ' + data.available + ' </td><td> ' + data.risk + '</td></tr></tbody>'
		$('#dataTrader')[0].innerHTML=dataTrader
		var dataTrader2='<tbody><tr><th>Bought</th><th>at</th><th>Sold</th><th>at</th></tr>'+ '<tr><td> ' + data.myBuyVolume + ' </td><td>' + data.avgPriceBuy + ' </td><td> ' + data.mySellVolume + ' </td><td> ' + data.avgPriceSell + '</td></tr></tbody>'
		$('#dataTrader2')[0].innerHTML=dataTrader2
		var mySellHTML='<tbody><tr><th>price</th><th>volume</th><th>action</th></tr>'
		var myBuyHTML='<tbody><tr><th>price</th><th>volume</th><th>action</th></tr>'
		for (var i = 0; i < data.myBuyLimits.length; i++) {
			myBuyHTML=myBuyHTML+ '<tr><td>' + data.myBuyLimits[i][1] + ' </td><td> ' + data.myBuyLimits[i][2] + ' </td><td><a href="/cancelorder/' + data.myBuyLimits[i][3] + '">cancel</a></td></tr>'
		}
		myBuyHTML=myBuyHTML+'</tbody>'
		for (var i = 0; i < data.mySellLimits.length; i++) {
			mySellHTML=mySellHTML+ '<tr><td>' + data.mySellLimits[i][1] + ' </td><td> ' + data.mySellLimits[i][2]+ ' </td><td><a href="/cancelorder/' + data.mySellLimits[i][3] + '">cancel</a></tr>'
		}
		mySellHTML=mySellHTML+'</tbody>'
		$('#myBuyLimits')[0].innerHTML= myBuyHTML ;
		$('#mySellLimits')[0].innerHTML= mySellHTML ;			
	}
	var marketData='<tbody><tr><th>Traded volume</th><th>Open interest</th></tr><tr><td> ' + data.tradedVolume + '</td><td>' + data.openInterest + '</td></tr></tbody>'
	$('#dataMarket')[0].innerHTML= marketData ;
	var buyHTML='<tbody><tr><th>price</th><th>volume</th></tr>'
	var sellHTML='<tbody><tr><th>price</th><th>volume</th></tr>'
	for (var i = 0; i < data.limitsBuy.length; i++) {
		buyHTML=buyHTML+'<tr><td>' +  data.limitsBuy[i][1] + ' </td><td> ' + data.limitsBuy[i][2] + '</td></tr>'
	}
	buyHTML=buyHTML+'</tbody>'
	for (var i = 0; i < data.limitsSell.length; i++) {
		sellHTML=sellHTML+ '<tr><td>' + data.limitsSell[i][1] + ' </td><td> ' + data.limitsSell[i][2] + '</td></tr>'
	}
	sellHTML=sellHTML+ '</tbody>'
	$('#limitsBuy')[0].innerHTML= buyHTML ;
	$('#limitsSell')[0].innerHTML= sellHTML ;
	$('#buyVolume')[0].innerHTML= data.buyVolume ;
	$('#sellVolume')[0].innerHTML= data.sellVolume ;
	var trades='<tbody><tr><th>time</th><th>price</th><th>volume</th><th>side</th></tr>'
	for (var i = 0; i < data.trades.length; i++) {
		trades=trades+ '<tr><td>' + data.trades[i]['timestamp'] + ' </td><td> ' + data.trades[i]['price']  + ' </td><td> ' + data.trades[i]['volume'] + ' </td><td> ' + data.trades[i]['side']+ '</td></tr>'
	}	
	trades=trades+ '</tbody>'
	$('#histoTrades')[0].innerHTML= trades ;
	$('#price')[0].innerHTML= data.trades[data.trades.length-1]['price'] ;		
	var options = {
		series: {
				   lines: { show: true },
				   points: { show: true }
			   }
	};
 
	$.plot($("#placeholder"),
				[
					{
					data:data.graphData,points:{symbol: "circle"}
					}
				],
				options);
	  });
timerId = setTimeout(refr, 5000);
}

</script>

<div class="market"  summary="Market informations">
      <h1>
        {{market.outcome}}
      </h1>
  <div id="market">
	  <div id="summary">
	  {{deleted}}
	  <p> <div id="desc">  </br><a href="{% url 'markets.views.showEvent' market.event.id %}"> {{ market.event.title }}</a>, {{market.event.description}},
			created by {{market.event.creator}}, {{market.event.dateCreation}} 
			{% if settled %}
			Settled : <span id="win">{{mwin}}</span>
			{% endif %}
			{% if request.user.is_staff %}
			<a href="{% url 'markets.views.deleteMarket' market.id %}" >Delete this market</a>
			{% endif %}
			</br></br>
		</div>	
		<div id="datatrader"> 		
			My data :
			
		{% if request.user.is_authenticated %}
			  <table id="dataTrader">
			  <tbody>
				<tr><th>Deposit</th><th>Available</th><th>PNL min</th></tr>
			  <tr><td>{{deposit}} </td><td> {{available}} </td><td> {{risk}} </td></tr>
			  </tbody>
			  </table></br>
			<table id="dataTrader2">
			  <tbody>
				<tr><th>Bought</th><th>at</th><th>Sold</th><th>at</th></tr>
			  <tr><td> {{myBuyVolume}} </td><td>{{avgPriceBuy}} </td><td> {{mySellVolume}}</td><td> {{avgPriceSell}} </td></tr>
			  </tbody>
			  </table>
		{%else%}
			<table id="dataTraderNA">
			  <tbody>
				<tr><th>Deposit</th><th>Available</th><th>PNL min</th></tr>
			  <tr><td> 0 </td><td> 0 </td><td> 0 </td></tr>
			  </tbody>
			  </table></br>
			<table id="dataTrader2NA">
			  <tbody>
				<tr><th>Bought</th><th>at</th><th>Sold</th><th>at</th></tr>
			  </tbody>
			  </table>
		{% endif %}</br>
		Market data :
		<table id="dataMarket">
		  <tbody>
			<tr><th>Traded volume</th><th>Open interest</th></tr>
		  <tr><td> {{tradedVolume}} </td><td>{{openInterest}} </td></tr>
		  </tbody>
		 </table></br>	
		</div>	
			
		<div id="currentorders">
		<div id="currentbuyorders">
		My buy limit orders :</br>{% if request.user.is_authenticated %}<a href="{% url 'markets.views.cancelAll' market.id idUser 1 %}" >cancel all</a>{% endif %}</br></br>
		<table id="myBuyLimits">	
		<tbody>	
		<tr><th>price</th><th>volume</th><th>action</th></tr>	
		{% if request.user.is_authenticated %}	
		{% for limit in myBuyLimits %}
		<tr><td> {{limit.price}} </td><td>{{limit.volume}}</td><td><a href="{% url 'markets.views.cancelOrder' limit.id %}" >cancel</a></td></tr>
		{% endfor %}
		{% endif %}
		</tbody>
	  </table></br>
		</div>
		<div id="currentsellorders">
		My sell limit orders :</br>{% if request.user.is_authenticated %}<a href="{% url 'markets.views.cancelAll' market.id idUser 0 %}" >cancel all</a>{% endif %}</br></br>
		<table id="mySellLimits">		
		<tbody>
		<tr><th>price</th><th>volume</th><th>action</th></tr>	
		{% if request.user.is_authenticated %}	
		{% for limit in mySellLimits %}
		<tr><td>{{limit.price}}</td><td>{{limit.volume}}  </td><td><a href="{% url 'markets.views.cancelOrder' limit.id %}" >cancel</a></td></tr>
		{% endfor %}
		{% endif %}
		</tbody>
	  </table></br>
		</div>
		</div>

				
	  </p>
	  </div>
	  
	  <div id="order">
	  <a class='refresh'> Refresh </a> </br>Last refresh : <span id="time">{{time}}</span></br></br>
		<div id="neworder">
		<form action="{% url 'markets.views.showMarket' market.id %}" method="post">{% csrf_token %}
			{{oform.non_field_errors}}
			<div class="fieldWrapper">
				{{ oform.side.errors }}</br>
				{{ oform.side }}
			</div>
			<div class="fieldWrapper">
				{{ oform.price.errors }}</br>
				{{ oform.price }}
			</div>
			<div class="fieldWrapper">
				{{ oform.volume.errors }}</br>
				{{ oform.volume }}
			</div></br>
			<p><input class="signup_button round" type="submit" value="Submit" /> </p>
		</form>
		</div>
		
			  
	  <div id="book">
		<div id="buy">
		  Buy Orders (<span id="buyVolume">{{buyVolume}}</span>) :</br></br>
		  <table id="limitsBuy">
		  <tbody>
			<tr><th>price</th><th>volume</th></tr>
		  {% for order in limitsBuy %}
		  <tr><td>{{order.price}} </td><td> {{order.volume}} </td></tr>
		  {% endfor %}
		  </tbody>
		  </table>
		</div>
		  <div id="sell">
		  Sell orders (<span id="sellVolume">{{sellVolume}}</span>) :</br></br>
		  <table id="limitsSell">
		  <tbody>
			<tr><th>price</th><th>volume</th></tr>
		  {% for order in limitsSell %}
		  <tr><td>{{order.price}} </td><td> {{order.volume}} </td></tr>
		  {% endfor %}
		  </tbody>
		  </table>
		</div>	
	  </div>
	
	</div>
	  <div id="trades">
	  <div id="placeholder" style="width:300px;height:200px"></div><div id="price">{{price}}</div>
	  <div>
	  <table id="histoTrades">
	  <tbody>
		<tr><th>time</th><th>price</th><th>volume</th><th>side</th></tr>	
	  {% for trade in trades %}
	  <tr><td>{{ trade.timestamp }} </td><td> {{trade.price}} </td><td> {{trade.volume}} </td><td> {{trade.side}} </td></tr>
	  {% endfor %}
	  </tbody>
	 </table> </br>
	 </div> 
	 </div> 
	 </div> 
</div>
<!-- Javascript -->
<script type="text/javascript">
$(document).ready(function(){  
    var data = {{graphData}};
 
   
 
    var options = {
        series: {
                   lines: { show: true },
                   points: { show: true }
               }
    };
 
    $.plot($("#placeholder"),
                [
                    {
                    data:data,points:{symbol: "circle"}
                    }
                ],
                options);
 
});
</script>

{% endblock %}
